<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505070527286-vo2qji33cdovu49p66r3bvltgj6mo3pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505070527286-vo2qji33cdovu49p66r3bvltgj6mo3pc</string>
	<key>API_KEY</key>
	<string>AIzaSyBK24urxzZoaSyeOP0Dbo8JfNFpxHl28CI</string>
	<key>GCM_SENDER_ID</key>
	<string>505070527286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MB.TEGiOS</string>
	<key>PROJECT_ID</key>
	<string>tesis-database-5fd22</string>
	<key>STORAGE_BUCKET</key>
	<string>tesis-database-5fd22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505070527286:ios:1d5035697c0bd629d8c997</string>
	<key>DATABASE_URL</key>
	<string>https://tesis-database-5fd22-default-rtdb.firebaseio.com</string>
</dict>
</plist>